<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="t1000robot" class="ru.sdo.ism91z.radchenko.model.robot.impl.T1000Robot">
        <constructor-arg ref="toshibaHead"/>
        <constructor-arg ref="sonyHand"/>
        <constructor-arg ref="sonyLeg"/>
    </bean>

    <bean id="toshibaHead"
          class="ru.sdo.ism91z.radchenko.model.parts.impl.toshiba.ToshibaHead"
          scope="prototype"/>
    <bean id="sonyHand"
          class="ru.sdo.ism91z.radchenko.model.parts.impl.sony.SonyHand"
          scope="prototype"/>
    <bean id="sonyLeg"
          class="ru.sdo.ism91z.radchenko.model.parts.impl.sony.SonyLeg"
          scope="prototype"/>
</beans>